<%= stylesheet_link_tag 'styles' %>
<div class="hero text-center ">
    <div class="lol">
    <h1 class="ms-5">This is a dribble Clone App With little features of dribble.<br> 
    <h4 class="ms-5">It was created with 
    <i class="fa fa-heart"></i> by <a href="https://twitter.com/aigbe_1" class="">Destiny Aigbe</a> while I am learning ruby on rails</h1>
     </h4>
     <%= link_to 'Signup Now', new_user_registration_path, class: "btn btn-primary ms-5" %></div>
</div>