<div class="container">
<h1>Editing Shot</h1>

<%= render 'form', shop: @shop %>
<br>
<%= link_to 'Show', @shop, class: "btn btn-secondary" %> |
<%= link_to 'Back', shops_path, class: "btn btn-secondary" %>
</div>