@import "bootstrap-sprockets";
@import "bootstrap";

$pink: #ea4c89;
$pink-invert: #fff;

$primary: $pink;
$primary-invert: $pink-invert;
$link: $primary;
$link-hover: darken($primary, 20%);

.body {
	background-color: #fffafa; 
	font-family: "bello-pro-1", "bello-pro-2", sans-serif;
}

#drop_zone {
	position: relative;
	padding: 3rem 0;
	border: 2px dashed #ccc;
	text-align: center;
	border-radius: 6px;
	background-color: #f8f8f8;
	&.dragging::before {
		content: "";
	  position: absolute;
	  left: 0; width: 100%;
	  top: 0; height: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-size: 1.5em;
	  background-color: rgba($primary, .3);
	  pointer-events: none;
	  z-index: 99;
	}
	&.fire::before {
		content: "";
	  position: absolute;
	  left: 0; width: 100%;
	  top: 0; height: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-size: 1.5em;
	  background-color: rgba(#ea4c89, .3);
	  pointer-events: none;
	  z-index: 99;
	}
}

.notification {
	border-radius: none;
}
.notification:not(:last-child) {
	margin-bottom: 0;
}

.visible {
	display: block !important;
}


@media screen and (max-width: 1060px) {
	#main {
		width: 67%;
	}
	#other {
		width: 30%;
		margin-left: 3%;
	}
	.list-group {
		display: none;
	}
	// #carousel {
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	top: 0;
	// 	left: 0;
	// 	padding: 0%;
	// }
}

@media screen and (max-width: 480px)  {
	#main {
		width: 100%;
		height: 100%;
		padding-bottom: 20px;
	}
	#other {
		width: 100%;
		height: 50%;
		// background-color: #fff;
		// color: white;
		// margin: 0, 0, 10, 0;
		border: none;
		display: none;
	}
	// #carousel {
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	top: 0;
	// 	left: 0;
	// 	padding: 0%;
	// }
	.list-group {
		display: none;
	}
	.omg {
		padding-right: -45px;
	}
	.level-right {
		display: none;
	}
}

